.message-container{
  padding: 20px;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 75%;
  color: black;
  background-color: rgba(128, 128, 128, 0.583);

  &.error{
    background-color: rgba(255, 0, 0, 0.661);
  }

  .message-icon{
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: no-repeat transparent url('../assets/danger.png');

    &.error{
      background: no-repeat transparent url('../assets/cancel.png');
    }
  }

  .message-title{
    margin-top: 0;
    font-size: 20px;
    font-family: monospace;
  }

  .message-text{
    font-size: 14px;
    margin-bottom: 0;
    font-family: monospace;
  }
}