@import '../media_vars.scss';

.itemDetail-container{
  max-width: $width_1024;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
}

.itemDetail-row{
  display: flex;

  .itemDetail-img-container{
    flex: 5;
    margin-right: 10px;

    img{
      width: 100%;
    }
  }

  .itemDetail-info{
    flex: 3;

    .itemDetail-conditionSold{
      font-size: 12px;
      color: darkblue;
    }

    .itemDetail-title{
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .itemDetail-price{
      font-size: 32px;
      font-weight: normal;
      margin-top: 10px;
    }

    .itemDetail-buy{
      padding: 10px;
      background-color: cornflowerblue;
      color: white;
      border-radius: 4px;
      border: none;
      width: 100%;
      cursor: pointer;
    }
  }
}

@media(max-width: $width_480){
  .itemDetail-row{
    flex-direction: column;
  }
}

.itemDetail-description-title{
  font-size: 20px;
}

.itemDetail-description-text{
  font-size: 14px;
  color: #444;
}