@import '../media_vars.scss';

.searchBox-container{
  display: flex;
  max-width: $width_1024;
  margin: 0 auto;
}

@media(max-width: $width_1024){
  .searchBox-container{
    padding: 0 20px;
  }
}

@media(max-width: $width_480){
  .searchBox-container img{
    width: 60px;
    position: relative;
    top: 10px;
  }
}

.background-banner{
  background-color: #fff159;
  padding: 10px 0;
}

@media(max-width: $width_1024){
  .background-banner{
    margin: 0 -10px;
  }
}

.searchBox-input{
  outline: none;
  margin-left: 10px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  flex: 20;
  padding: 10px;
  border: none;
}

.searchBox-btn{
  display: flex;
  width: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background: no-repeat url("../assets/search.png") #cccccc 50% 50%;
}

@media(max-width: $width_480){
  .searchBox-btn{
    flex: none;
  }
}
